ChatServer/*/
ChatServer/*.vcxproj
ChatServer/*.vcxproj.filters
ChatServer/*.vcxproj.user
ChatServer/*.props
ChatServer/*.dll

ChatServer2/*/
ChatServer2/*.vcxproj
ChatServer2/*.vcxproj.filters
ChatServer2/*.vcxproj.user
ChatServer2/*.props
ChatServer2/*.dll

GateServer/*/
GateServer/*.vcxproj
GateServer/*.vcxproj.filters
GateServer/*.vcxproj.user
GateServer/*.props
GateServer/*.dll

client__/*/
client__/*.ui
client__/*.pro
client__/*.pro.user

StatusServer/*/
StatusServer/*.vcxproj
StatusServer/*.vcxproj.filters
StatusServer/*.vcxproj.user
StatusServer/*.props
StatusServer/*.dll

VarifyServer/*/
VarifyServer/*.vcxproj
VarifyServer/*.vcxproj.filters
VarifyServer/*.vcxproj.user
VarifyServer/*.props
VarifyServer/*.dll
